header{
    .box{padding: 0% 10%;
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
    button{
        visibility: hidden;
        z-index: 10;
    }
    @media (max-width:1440px) {
            width: 90%;
    }
    @media (max-width:420px) {
        width: 95%;
        padding: 0%;
    }
    @media (max-width:1000px) {
        .inv {display: none;}
        button{
            visibility: visible;
        }
    }
    .logo {
        width: 100px;
        height: 60px;
    }
    nav {
        display: flex;
        justify-content: end;
        max-width: 640px;
        width: 100%;
        ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .dropdown {
            float: left;
            overflow: hidden;
          }
          .dropdown .dropbtn {
            cursor: pointer;
            font-size: 16px;  
            border: none;
            outline: none;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
          }
          .dropdown-content {
            right:0px;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            .curent {
                color:  var(--black, #0B0706);
            }
          }
          .dropdown-content a {
            float: none;
            color: var(--secondary-text, #525560);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
          .dropdown-content a:hover {
            background: var(--border, #E5E5E5);
          }
          .show {
            display: block;
          }
        a {
            color: var(--secondary-text, #525560);
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .curent {
            color:  var(--black, #0B0706);
        }
        .donate{
            padding: 12px 32px;
            border-radius: 3px;
            background: var(--primary-text, #1D2130);
            color: #FFF;
        }
        .donate:hover{
            background: var(--green-primary, #70C174);
        }
        
        }
        }
    }
}