.s2{
    background: var(--green-tertiary, #EFF7F2);
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .div1{
        max-width: 1920px;
        width: 100%;
        padding: 5% 5%;
        @media (max-width:1400px) {
            padding-left: 0%;
            padding-right: 1%;
        }

        .line{padding-bottom: 5%;
            max-width: 1920px;
            width: 85%;
            display: flex;
            justify-content: start;
            align-items: center;
            max-height: 200px;
            height: 100%;
            #line2{
                width: 72px;
                border-bottom: solid 1px #1D2130;
            }
            h4{
                padding: 2%;
                color: var(--primary-text, #1D2130);
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
        .g1{padding-bottom: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;            
            @media (max-width:700px) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                h5,h6{
                    padding-left: 5%;
                    padding-right: 5%;
                }
                }
            
            .l1{
                display: flex;
                justify-content: start;
                align-items: center;
                #line2{
                    width: 72px;
                    border-bottom: transparent 1px;
                }
                    h2{
                    padding-bottom: 5%;
                    padding-right: 4%;
                    padding-left: 2%;
                    max-width: 700px;
                    width: 100%;
                    color: var(--primary-text, #1D2130);
                    font-family: 'Roboto', sans-serif;
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    @media (max-width:1350px) {
                        font-size: 42px;
                    }
                }
            }
            h5{
                padding-bottom: 3%;
                max-width: 496px;
                width: 100%;
                color: var(--primary-text, #1D2130);
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                @media (max-width:1350px) {
                    font-size: 15px;
                }
                @media (max-width:700px) {
                    display: flex;
                    justify-content: center;
                }
            }
            h6{
                max-width: 496px;
                width: 100%;
                font-family: 'Roboto', sans-serif;
                color: var(--primary-text, #1D2130);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                @media (max-width:1350px) {
                    font-size: 12px;
                }
                @media (max-width:700px) {
                    display: flex;
                    justify-content: center;

                }
            }
        }
    }
    
    .div2{
        .img1{margin-left: 5%;
            margin-right: 5%;
            background-image: url(https://cdn.shopify.com/s/files/1/0019/5952/files/Could_global_CO2_levels_be_reduced_by_planting_trees.jpg?v=1689693722);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            position: relative;
            flex-wrap: wrap;
            min-height: 500px;
            flex-shrink: 0;
        }
    }
    .div3{
        @media (max-width:700px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        display: flex;
        justify-content: center;
        align-items: start;
        div{padding: 10% 3%;
            @media (max-width:700px) {
                padding: 10% 0;
            }
            @media (max-width:520px) {
                width: 90%;
            }
            h1{
                color: var(--primary-text, #1D2130);
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2px;
                text-transform: uppercase;
                @media (max-width:1350px) {
                    font-size: 12px;
                }
            }
            h2{
                color: var(--primary-text, #1D2130);
                font-family: 'Roboto', sans-serif;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                @media (max-width:1350px) {
                    font-size: 21px;
                }
            }
            h3{
                color: var(--primary-text, #1D2130);
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                @media (max-width:1350px) {
                    font-size: 12px;
                }
            }
            h1,h2,h3{
                padding-bottom: 3%;
                max-width: 496px;
                width: 100%;

            }
        }
    }
}