.s1{
    .container{
    background: url(<../../../../img/BG\ Image.jpg), lightgray 50% / cover / no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
        .heading1 {
        position: absolute;
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 76.8px */
        max-width: 640px;
        }
    }
}