.s1{
     .line {
        max-width: 1920px;
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        height: 100%;
    h5{
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    #line1 {max-width: 1800px;
        width: 100%;
        border-bottom: solid 1px #FFF;
    }
}
        .container{
        background-image:url(https://vastphotos.com/files/uploads/photos/10520/peaceful-green-forest-l.jpg?v=20220712073521);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        position: relative;
        .heading1{
            color: #FFF;
            font-family: 'Roboto', sans-serif;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 76.8px */
            @media (max-width:1300px) {
                width: 90%;
                
            }
             @media (max-width:412px) {
                font-size: 54px;
             }   
             @media (max-width:350px) {
                font-size: 44px; 
             }
            
        }
    }
}